<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>梦想三十七号</title>
    <link rel="shortcut icon" type="favicon.ico" th:href="${static}+'image/icon/dinosaur.png'">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="${static}+'style/tpvillage.css'">
    <link rel="stylesheet" th:href="${static}+'style/story-item.css'">
    <link rel="stylesheet" th:href="${static}+'style/video-item.css'">
    <link rel="stylesheet" th:href="${static}+'style/message-item.css'">
    <link rel="stylesheet" th:href="${static}+'style/menu-item.css'">
    <style>
        .text p{
            text-indent: 2em;
        }
        .tp-form .tp-input-text{
            width: 400px;
        }
    </style>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script th:src="${static}+'js/index.js'"></script>
</head>
<body>
<header class="tp-nav">
    <div class="tp-nav-logo">
        <img th:src="${static}+'image/icon/dinosaur.png'" alt="logo" title="logo">
        <span>梦想三十七号</span>
    </div>
    <ul class="tp-nav-menu">
        <li>
            <a href="story-list" title="故事列表">
                <span class="bi bi-grid-3x3-gap-fill"></span>
                <span>故事</span>
            </a>
        </li>
        <li>
            <a href="image-list">
                <span class="bi bi-image-fill"></span>
                <span>图片</span>
            </a>
        </li>
        <li>
            <span class="bi bi-play-circle-fill"></span>
            <span>视频</span>
        </li>
        <li>
            <span class="bi bi-chat-square-text-fill"></span>
            <span>留言</span>
        </li>
    </ul>
    <ul class="tp-nav-menu tp-float-right">
        <li>
            <span>登录</span>
        </li>
    </ul>
</header>
<section class="tp-section tp-width-1340">
    <div class="tp-box to-bg-image">
        <img th:src="${static}+'image/bg/theme-bg-story-index.jpg'" alt="" class="tp-block">
    </div>
    <!-- 头部菜单栏 -->
    <div class="tp-box-row tp-divide3">
        <div class="tp-box">
            <div class="menu-item tp-divide4 red">
                <a href="#" title="我们的故事">
                    <span class="bi bi-grid-3x3-gap-fill"></span>
                    <span>故事</span>
                </a><a href="#" title="图片">
                <span class="bi bi-image-fill"></span>
                <span>图片</span>
            </a><a href="#" title="视频">
                <span class="bi bi-play-circle-fill"></span>
                <span>视频</span>
            </a><a href="#" title="留言">
                <span class="bi bi-chat-square-text-fill"></span>
                <span>留言</span>
            </a>
            </div>
        </div>
        <div class="tp-box">
            <div class="menu-item tp-divide4 green">
                <a href="#" title="Bootstrap">
                    <span class="bi bi-bootstrap-fill"></span>
                    <span>Bootstrap</span>
                </a><a href="#" title="github">
                <span class="bi bi-github"></span>
                <span>github</span>
            </a><a href="#" title="google">
                <span class="bi bi-google"></span>
                <span>google</span>
            </a><a href="#" title="凡科快图">
                <span class="bi bi-globe"></span>
                <span>fkw.com</span>
            </a>
            </div>
        </div>
        <div class="tp-box">
            <div class="menu-item tp-divide4 blue">
                <a href="#" title="后台管理">
                    <span class="bi bi-cpu"></span>
                    <span>后台管理</span>
                </a><a href="#" title="项目源码">
                <span class="bi bi-terminal"></span>
                <span>项目源码</span>
            </a><a href="#" title="使用说明">
                <span class="bi bi-question-circle"></span>
                <span>使用说明</span>
            </a><a href="#" title="关于本站">
                <span class="bi bi-info-circle"></span>
                <span>关于</span>
            </a>
            </div>
        </div>
    </div>
    <!-- 这里本来是留言或公告的 -->
    <div class="tp-box">
        <div class="tp-box tp-float-container">
            <div class="tp-box text" style="background-color: #eee;">
                <h1 class="tp-text-center" th:text="${messageList[0].title}"></h1>
                <h6 class="tp-text-center"><em th:text="${messageList[0].user}"></em></h6>
                <pre style="white-space: pre-wrap;word-wrap: break-word;" th:utext="${messageList[0].content}"></pre>
            </div>
        </div>
    </div>
    <!-- 这里是故事列表 -->
    <div class="tp-box">
        <div class="tp-box tp-under-br">
            <span>我们的故事</span>
            <a href="story-list" class="tp-float-right">
                <span>查看更多</span>
            </a>
        </div>
        <ul class="tp-list tp-divide4">
            <li class="tp-box" th:each="story:${storyList}" th:attr="story-id=${story.id}">
                <a class="story-item" th:title="${story.name}" th:href="${story.index}">
                    <img th:src="${story.icon}">
                    <div>
                        <p class="title" th:text="${story.name}"></p>
                        <p class="describe" th:text="${story.motto}"></p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <!-- 这里是图片列表 -->
    <div class="tp-box">
        <div class="tp-box tp-under-br">
            <span>图片</span>
            <a href="image-list" class="tp-float-right">
                <span>查看更多</span>
            </a>
        </div>
        <ul class="tp-list tp-divide6">
            <li class="tp-box" th:each="image : ${imageList}" th:attr="image-id=${image.id}">
                <img th:src="'http://tpvillage.oss-cn-chengdu.aliyuncs.com/story/image-min/'+${image.name}" th:alt="${image.name}">
            </li>
        </ul>
    </div>
    <!-- 这里是视频列表 -->
    <div class="tp-box">
        <div class="tp-box tp-under-br">
            <span>视频</span>
            <a href="#" class="tp-float-right">
                <span>查看更多</span>
            </a>
        </div>
        <ul class="tp-list tp-divide4">
            <li class="tp-box" th:each="video:${videoList}">
                <div class="video-item" th:attr="video-id=${video.id}">
                    <div><img th:src="${video.cover}" th:alt="${video.name}"></div>
                    <p class="video-title" th:text="${video.name}"></p>
                    <div>
                        <span><span class="bi bi-play-circle" title="观看次数" th:text="${video.see}"></span></span>
                        <span><span class="bi bi-download" title="下载次数" th:text="${video.download}"></span></span>
                        <span><span class="bi bi-chat" title="评论">0</span></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- 这里是留言列表 -->
    <div class="tp-box">
        <div class="tp-box tp-under-br">
            <span>留言</span>
            <a href="#" class="tp-float-right">
                <span>查看更多</span>
            </a>
        </div>
        <ul class="tp-list tp-divide2">
            <li class="tp-box" th:each="message:${messageList}">
                <div class="message" th:attr="message-id=${message.id}">
                    <div class="message-icon">
                        <img src="images/head/fish.png" alt="">
                    </div>
                    <div class="message-content">
                        <h4 class="message-title" th:text="${message.title}">关于本模块</h4>
                        <div class="message-text" th:text="${message.content}"> </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<footer class="tp-width-1340">
    <div class="tp-box tp-text-center">
        <a href="https://beian.miit.gov.cn/">黔ICP备20000654号-1</a>
    </div>
</footer>
</body>
</html>
