<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>故事列表</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="${static}+'style/tpvillage.css'">
    <link rel="stylesheet" th:href="${static}+'style/video-item.css'">
</head>
<body>
<header class="tp-nav">
    <div class="tp-nav-logo">
        <img th:src="${logo}" alt="">
        <span>视频列表</span>
    </div>
    <ul class="tp-nav-menu">
        <li>
            <a th:href="${root}+'story-list'" title="故事列表">
                <span class="bi bi-grid-3x3-gap-fill">故事</span>
            </a>
        </li>
        <li>
            <a th:href="${root}+'image-list?current=1&size=36&typeId=4'">
                <span class="bi bi-image-fill">图片</span>
            </a>
        </li>
        <li>
            <a th:href="${root}+'video-list'">
                <span class="bi bi-play-circle-fill">视频</span>
            </a>
        </li>
        <li>
            <a th:href="${root}+'message-list'">
                <span class="bi bi-chat-square-text-fill">留言</span>
            </a>
        </li>
    </ul>
    <ul class="tp-nav-menu" style="float: right;">
        <li><a href="">定制主页</a></li>
        <li><a href="">信息报错</a></li>
        <li><a href="">问题反馈</a></li>
    </ul>
</header>
<section class="tp-section tp-width-1340">
    <div class="tp-box">
        <img th:src="${static}+'images/bg/theme-bg-video.jpg'" alt="">
    </div>
    <div class="tp-box">
        <div class="tp-box tp-text-center">
            <div class="tp-box-search tp-blue" style="width: 80%;">
                <input type="text" class="tp-input-text">
                <input type="submit" class="tp-button" value="搜索">
            </div>
        </div>
        <ul class="tp-list tp-divide4">
            <li class="tp-box" th:each="video:${videoList}">
                <a th:href="${root}+'video/'+${video.id}">
                    <div class="video-item" th:attr="video-id=${video.id}">
                        <div><img th:src="${video.cover}" th:alt="${video.name}"></div>
                        <p class="video-title" th:text="${video.name}"></p>
                        <div>
                            <span><span class="bi bi-play-circle" title="观看次数" th:text="${video.see}"></span></span>
                            <span><span class="bi bi-download" title="下载次数" th:text="${video.download}"></span></span>
                            <span><span class="bi bi-chat" title="评论">0</span></span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
<footer class="tp-width-1340">
    <div class="tp-box tp-text-center">
        <ul class="tp-list tp-divide5 tp-float-container">
            <li class="tp-box">
                <div class="websites">
                    <div><a href="#">tpvillage</a></div>
                    <div><a href="#">google</a></div>
                    <div><a href="#">baidu</a></div>
                    <div><a href="#">github</a></div>
                    <div><a href="#">fkw</a></div>
                </div>
            </li>
            <li class="tp-box">
                <div class="websites">
                    <div><a href="#">java</a></div>
                    <div><a href="#">c++</a></div>
                    <div><a href="#">html</a></div>
                    <div><a href="#">css</a></div>
                    <div><a href="#">javascript</a></div>
                </div>
            </li>
            <li class="tp-box">
                <div class="websites">
                    <div><a href="#">springboot</a></div>
                    <div><a href="#">bootstrap</a></div>
                    <div><a href="#">mybatis</a></div>
                    <div><a href="#">velocity</a></div>
                    <div><a href="#">jquery</a></div>
                </div>
            </li>
            <li class="tp-box">
                <div class="websites">
                    <div><a href="#">nginx</a></div>
                    <div><a href="#">tomcat</a></div>
                    <div><a href="#">OSS</a></div>
                    <div><a href="#">ECS</a></div>
                    <div><a href="#">mysql</a></div>
                </div>
            </li>
            <li class="tp-box">
                <div class="websites">
                    <div><a href="#">Visual Studio</a></div>
                    <div><a href="#">Intellij IDEA</a></div>
                    <div><a href="#">Navicat</a></div>
                    <div><a href="#">chrome</a></div>
                    <div><a href="#">HBulider X</a></div>
                </div>
            </li>
        </ul>
        <a href="https://beian.miit.gov.cn/">黔ICP备20000654号-1</a>
    </div>
</footer>
</body>
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
</html>
