<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="${video.name}+'在线播放'"></title>
    <link rel="stylesheet" th:href="${static}+'style/tpvillage.v21.04.28.css'">
    <link rel="stylesheet" th:href="${static}+'style/video-item.css'">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <style>
        .bi,.bi:before{
            margin-right: 5px;
            vertical-align: bottom;
        }
    </style>
</head>
<body>
<header class="tp-nav" style="z-index: 999;">
    <div class="tp-nav-logo">
        <img th:src="${logo}" alt="logo" title="logo">
        <span>梦想三十七号</span>
    </div>
    <ul class="tp-nav-menu">
        <li>
            <a th:href="${root}+'story-list'" title="故事列表">
                <span class="bi bi-grid-3x3-gap-fill">故事</span>
            </a>
        </li>
        <li>
            <a th:href="${root}+'image-list?current=1&size=36&typeId=4'">
                <span class="bi bi-image-fill">图片</span>
            </a>
        </li>
        <li>
            <a th:href="${root}+'video-list'">
                <span class="bi bi-play-circle-fill">视频</span>
            </a>
        </li>
        <li>
            <a th:href="${root}+'message-list'">
                <span class="bi bi-chat-square-text-fill">留言</span>
            </a>
        </li>
    </ul>
    <ul class="tp-nav-menu tp-float-right">
        <li>
            <span>登录</span>
        </li>
    </ul>
</header>
<section class="tp-section tp-width-1340">
    <div class="tp-box">
        <div class="tp-box">
            <video width="1300"controls="controls" style="background-color: #333" th:src="${video.url360p}"></video>
        </div>
        <div class="tp-box">
            <div >
                <span class="tp-text-title4" th:text="${video.name}"></span>
            </div>
            <div>
                <span th:text="${video.describe}"></span>
            </div>
            <div>
                <span><span class="bi bi-play-circle" title="观看次数" th:text="${video.see}"></span></span>
                <span><span class="bi bi-download" title="下载次数" th:text="${video.download}"></span></span>
                <span><span class="bi bi-chat" title="评论" th:text="'0'"></span></span>
                <span><span class="bi bi-clock" title="时长" th:text="${video.length}"></span></span>
            </div>
        </div>
        <ul class="tp-list tp-divide4">
            <li class="tp-box" th:each="videoItem:${videoList}">
                <a th:href="${root}+'video/'+${videoItem.id}">
                    <div class="video-item" th:attr="video-id=${videoItem.id}">
                        <div><img th:src="${videoItem.cover}" alt="我们的故事"></div>
                        <p class="video-title" th:text="${videoItem.name}"></p>
                        <div>
                            <span><span class="bi bi-play-circle" title="观看次数" th:text="${videoItem.see}"></span></span>
                            <span><span class="bi bi-download" title="下载次数" th:text="${videoItem.download}"></span></span>
                            <span><span class="bi bi-chat" title="评论" th:text="0"></span></span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
<footer class="tp-width-1340">
    <div class="tp-box tp-text-center">
        <a href="https://beian.miit.gov.cn/">黔ICP备20000654号-1</a>
    </div>
</footer>
</body>
</html>
