<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.tpvillage.mapper.ImageMapper">
    <select id="selectListByStory" resultType="Image">
        select I.* from `image` I
        join `story_image_relation` R on I.id = R.image_id
        where R.story_id = #{storyId}
    </select>
</mapper>
